body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

li a {
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.color {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

i {
    margin-right: 16px;
}

.g {
    color: #FF42A5;
}

.follow {
    border-width: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.gamer {
    display: inline;
    font-size: 25px;
}

.gamer img {
    margin-right: 10px;
}

.container {
    margin-left: 130px;
    display: flex;
}

.play {
    color: #0B0223;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    color: #F948B2;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: -30px;
}

.primary {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-top: -20px;
}

.btn-color {
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 5px;
}

.btn-clr {
    display: inline-flex;
    padding: 5px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.img {
    margin-left: 200px;
}

/* main section styles */
.gamer-container {
    display: flex;
}

.gamer-div {
    margin-right: 200px;
    margin-left: 100px;
}

.we-gamer {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    margin-left: 180px;
}

.para {
    color: #534C64;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    line-height: 45px;
}

/* funny section styles */
.funny {
    margin-top: 100px;
}

.online {
    color: #0B0223;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: 700;
}

.funny-description {
    color: #534C64;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: -25px;
}

.four-img {
    position: relative;
    margin-left: 200px;
}

.four-img .btn {
    position: absolute;
    top: 25%;
    right: 400px;
}

.p-primary1 {
    color: #534C64;
    font-size: 10px;
    font-weight: 500;
    margin-right: 50px;
}

.p-primary2 {
    color: #534C64;
    font-size: 10px;
    font-weight: 500;
    margin-right: 50px;
}

.p-primary3 {
    color: #534C64;
    font-size: 10px;
    font-weight: 500;
    margin-left: 30px;
}

.p-primary4 {
    color: #534C64;
    font-size: 10px;
    font-weight: 500;
    margin-left: 90px;
}

.para-p {
    display: flex;
}

/* play section styles */
.play-container {
    display: flex;
    gap: 60px;
}

.play {
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 200px;
}

.play-description {
    color: #0B0223;
    font-size: 30px;
    font-weight: 700;
    margin-left: 200px;
    margin-top: -30px;
}

.paragraph1 {
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin-left: 220px;
    margin-top: -30px;
}

.img1 {
    margin-top: 100px;
}

.img2 {
    margin-top: -80px;
}

.play-div {
    margin-top: 200px;
}

/* play last section styles */
.play-last {
    margin-top: 100px;
    display: flex;
    gap: 100px;
}

.image1 {
    margin-left: 70px;
}

.image2 {
    margin-left: 420px;
    margin-top: -90px;
}

.play1 .p-o-color {
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.play1 .anywhere-color {
    font-size: 35px;
    font-weight: 700;
    color: #0B0223;
}

.pc {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

/* career section styles */
.career-container {
    margin-top: 100px;
    display: flex;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
}

.career-div {
    background-image: url('../images/Group 14.png'), url('../images/Group 65.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 55%, 50%;
    margin-left: 70px;
    padding-top: 60px;
}

.career {
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
}

.c-description {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding-right: 600px;
}

.ul1 {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
}

.ul2 {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
}

.ul {
    display: flex;
}

.btn-position {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #FFF;
    gap: 10px;
    border: none;
    color: #FF42A5;
    margin-bottom: 5px;
}

/* icon section styles */
.icon-container {
    margin-top: 80px;
}

button img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

button {
    margin-left: 70px;
    color: #0B0223;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    border: none;
}

button:hover {
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 45px;
}

/* footer styles */
.footer {
    margin-top: 80px;
    background: #0B0223;
    height: 600px;
}

.footer-img {
    display: flex;
    justify-content: center;

}

.footer-heading {
    padding-left: 10px;
    padding-top: 50px;
}

.G {
    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.amar {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.img-gamer {
    margin-top: 80px;
}

.footer-short-para {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.p-primary {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.div-about {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

.year-access {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
